*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 18px;
    gap: 30px;
}
#top{
    background-color: #9c7a80;
}
#middle{
    background-color: #4c884c;
}
#bottom{
    background-color: #8080ec;
}
p{
    width: 90%;
    text-align: center;
    margin: 20px 0;
}
a{
    color: black;
    font-size: 32px;
}
