*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
#section-about{
    background: #f4baa4;
}
#section-home{
    background: green;
}
#section-info{
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}
nav ul a{
    color: white;
}