
body{
    margin: 2%;
}
header {
    background-color: cornflowerblue;
    height: 60vh;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section {
    height: 50vh;
    width: 32%;
    background-color: #1f3bf3;
}
footer {
    background-color: cornflowerblue;
    height: 90vh;
}
header, section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}