body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
img{
    height: 300px;
    margin-top: 300px;
}
.girl{
    margin-left: 400px;
}
.boy{
    margin-right: 400px;
}
.heart{
    height: 20px;
    margin-top: 100px;
    animation: heart 7s infinite linear alternate;
}
@keyframes heart{
    from{
        transform: translate(-420px, 50px);
    }
    50%{
        transform: scale(7);
    }
    to{
        transform: translate(400px, 50px);
    }
}