@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: #000000;
    font-weight: 400;
    font-size: 45px;
}
header {
       background: #8D8484;
}
footer {
    background: #BDBDBD;
}
main, section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
    font-weight: 400;
    font-size: 45px;
}
.section1{
    background: #776969;
    height: 20vh;
    width: 73vw;
}
.section2{
    background: #643030;
    height: 20vh;
    width: 73vw;
}
.section3{
    background: #441818;
    height: 20vh;
    width: 73vw;
}
.section4{
    background: #937575;
    height: 30vh;
    width: 27vw;
}
.section5{
    background: #644C4C;
    width: 27vw;
    height: 30vh;
}