body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clown{
    height: 450px;
    animation: clown 2s infinite linear alternate;
}
@keyframes clown{
    0%{
        transform: scale(1.05) skew(5deg);
    }
    100%{
        transform: scale(1) skew(-5deg);
    }
}
.spiral{
    animation: spiral 10s infinite linear alternate;
}
@keyframes spiral{
    0%{
        transform: scale(1.1) rotate(3600deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}